In [117]:
import pandas as pd
import os
import numpy as np

In [2]:
#paths

data= r"C:\Users\admin\python\Horse Race Prediction"

In [3]:
#loading forward data

forward = pd.read_csv("forward.csv")

In [4]:
#load and combine horses and race dataset

horse_race_data=[]

for year in range(1990,2021):
    horse_file=os.path.join(data,f"horses_{year}.csv")
    race_file=os.path.join(data,f"races_{year}.csv")

    if os.path.exists(horse_file) and os.path.exists(race_file):
        horses =pd.read_csv(horse_file)
        races =pd.read_csv(race_file)

#          #merge horses and races datasets on 'rid'
#         combined_data = pd.merge(horses, races, on="rid", how="inner")
#         horse_race_data.append(combined_data)

# #combine into a single DataFrame
# df = pd.concat(horse_race_data, ignore_index=True)

 #save dataset into csv
# horses.to_csv("horses.csv",index=False)
# races.to_csv("races.csv",index=False)
# print("saved successfully")

C:\Users\admin\AppData\Local\Temp\ipykernel_11388\2932159393.py:10: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  horses =pd.read_csv(horse_file)
C:\Users\admin\AppData\Local\Temp\ipykernel_11388\2932159393.py:10: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  horses =pd.read_csv(horse_file)

In [5]:
# #load combined data
# file_name= "horse_race.csv"
# df=pd.read_csv(file_name)

In [6]:
# data cleaning

In [7]:

# Checking for missing values in races DataFrame

print("Missing values in Races DataFrame:")
print(races.isnull().mean()*100)

# Checking for missing values in horses DataFrame

print("\nMissing values in Horses DataFrame:")
print(horses.isnull().mean()*100)

# Checking for missing values in forward DataFrame

print("\nMissing values in Forward DataFrame:")
print(forward.isnull().mean()*100)

Missing values in Races DataFrame:
rid             0.000000
course          0.000000
time            0.000000
date            0.000000
title           0.000000
rclass         51.358659
band           63.951602
ages            0.000000
distance        0.000000
condition       0.000000
hurdles        79.268622
prizes          0.000000
winningTime     0.000000
prize           0.000000
metric          0.000000
countryCode     0.000000
ncond           0.000000
class           0.000000
currency       37.265107
dtype: float64

Missing values in Horses DataFrame:
rid              0.000000
horseName        0.000000
age              0.000000
saddle           0.004013
decimalPrice     0.000000
isFav            0.000000
trainerName      0.014046
jockeyName       0.002007
position         0.000000
positionL       14.197428
dist            24.046070
weightSt         0.000000
weightLb         0.000000
overWeight      96.722693
outHandicap     99.094393
headGear        62.690201
RPR             48.454649
TR              68.066991
OR              46.796600
father           0.000000
mother           0.000669
gfather          0.024078
runners          0.000000
margin           0.000000
weight           0.000000
res_win          0.000000
res_place        0.000000
price           36.453017
dtype: float64

Missing values in Forward DataFrame:
course           0.032633
countryCode      0.000000
marketTime       0.000000
title            0.000000
runners          0.000000
condition        0.014833
prize            0.000000
rclass          31.790673
horseName        0.000000
trainerName      0.000000
jockeyName       0.272932
RPRc            16.604367
TRc             29.927614
OR              28.094221
weightSt         0.000000
weightLb         0.000000
age              0.000000
decimalPrice     0.000000
dtype: float64

In [8]:
#dropping columns which are 50% above null values

threshold =len(horses)*0.50
horses=horses.dropna(thresh=threshold,axis=1)

threshold =len(races)*0.50
races=races.dropna(thresh=threshold,axis=1)

threshold =len(forward)*0.50
forward=forward.dropna(thresh=threshold,axis=1)

In [9]:
horses.isnull().mean()*100

rid              0.000000
horseName        0.000000
age              0.000000
saddle           0.004013
decimalPrice     0.000000
isFav            0.000000
trainerName      0.014046
jockeyName       0.002007
position         0.000000
positionL       14.197428
dist            24.046070
weightSt         0.000000
weightLb         0.000000
RPR             48.454649
OR              46.796600
father           0.000000
mother           0.000669
gfather          0.024078
runners          0.000000
margin           0.000000
weight           0.000000
res_win          0.000000
res_place        0.000000
price           36.453017
dtype: float64

In [10]:
horses["positionL"].value_counts()

positionL
.5       12031
nk       11160
.75       9946
1.25      7977
1         7261
         ...
91           2
2.0          1
7.0          1
107          1
24.75        1
Name: count, Length: 171, dtype: int64

In [11]:
#mapping for non-numeric terms in positionL

mapping={
  "shd":0.1,
   "hd":0.2,
   "nk":0.3
}

#replacing
horses["positionL"] =horses["positionL"].replace(mapping)
#convert the column to numeric
horses["positionL"]=pd.to_numeric(horses["positionL"],errors="coerce")

In [12]:
horses["positionL"].isnull().sum()

25640

In [13]:
horses['positionL'].describe()

count    123873.000000
mean          3.813783
std           7.431375
min           0.100000
25%           0.500000
50%           1.500000
75%           3.750000
max         107.000000
Name: positionL, dtype: float64

In [14]:
horses['positionL'].fillna(horses['positionL'].median(),inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_11388\3644971839.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  horses['positionL'].fillna(horses['positionL'].median(),inplace=True)

In [15]:
horses["dist"].describe()

count     113561
unique       819
top         4.25
freq        2083
Name: dist, dtype: object

In [16]:
#coverting string into numeric
horses["dist"] =pd.to_numeric(horses["dist"],errors="coerce")

In [17]:
horses["dist"].describe()

count    113397.000000
mean         14.912465
std          18.235040
min           0.250000
25%           4.500000
50%           8.750000
75%          17.500000
max         241.250000
Name: dist, dtype: float64

In [18]:
#coverting nan into median
horses["dist"].fillna(horses["dist"].median(),inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_11388\1492920984.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  horses["dist"].fillna(horses["dist"].median(),inplace=True)

In [19]:
horses["RPR"].describe()

count    77067.000000
mean        74.677073
std         29.092444
min          1.000000
25%         55.000000
50%         73.000000
75%         95.000000
max        177.000000
Name: RPR, dtype: float64

In [20]:
horses["RPR"].fillna(horses["RPR"].median(),inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_11388\1589162635.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  horses["RPR"].fillna(horses["RPR"].median(),inplace=True)

In [21]:
horses["OR"].describe()

count    79546.000000
mean        80.446685
std         25.672796
min          1.000000
25%         61.000000
50%         77.000000
75%         97.000000
max        177.000000
Name: OR, dtype: float64

In [22]:
horses["OR"].fillna(horses["OR"].median(),inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_11388\514480544.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  horses["OR"].fillna(horses["OR"].median(),inplace=True)

In [23]:
horses["price"].value_counts()

price
12/1      3392
14/1      3347
16/1      3174
10/1      2869
33/1      2802
          ...
123/20       1
254/1        1
236/1        1
240/1        1
296/1        1
Name: count, Length: 578, dtype: int64

In [24]:
#dropping remaining features where missing rate is less than 1%
horses.dropna(axis=1,inplace=True)

In [25]:
horses.isnull().mean()*100

rid             0.0
horseName       0.0
age             0.0
decimalPrice    0.0
isFav           0.0
position        0.0
positionL       0.0
dist            0.0
weightSt        0.0
weightLb        0.0
RPR             0.0
OR              0.0
father          0.0
runners         0.0
margin          0.0
weight          0.0
res_win         0.0
res_place       0.0
dtype: float64

In [26]:
horses["decimalPrice"].describe()

count    149513.000000
mean          0.117114
std           0.117515
min           0.001427
25%           0.034483
50%           0.076923
75%           0.161290
max           0.965517
Name: decimalPrice, dtype: float64

In [27]:
horses["decimalPrice"]=horses["decimalPrice"].round(4)

In [28]:
horses["isFav"].value_counts()

isFav
0    133950
1     15563
Name: count, dtype: int64

In [29]:
win_rate_favorites = (horses[horses["isFav"] == 1]["position"] == 1).mean()
win_rate_non_favorites = (horses[horses["isFav"] == 0]["position"] == 1).mean()

print(f"Favorites' Win Rate: {win_rate_favorites:.2%}")
print(f"Non-Favorites' Win Rate: {win_rate_non_favorites:.2%}")

Favorites' Win Rate: 32.26%
Non-Favorites' Win Rate: 7.25%

In [30]:
horses["positionL"].min()

0.1

In [31]:
horses["positionL"].max()

107.0

In [32]:
mapping = {
    "nse": 0.05,   # Nose
    "nk": 0.25,    # Neck
    "hd": 0.10,    # Head
    "shd": 0.08,   # Short head
    "dist": 20,    # Distance (assume a large margin)
    "snk": 0.20,   # Short neck
    "dnt": None    # Did not try (set to NaN)
}
horses["positionL"] = horses["positionL"].replace(mapping)

In [33]:
#ensuring all values are numeric
horses["positionL"] = pd.to_numeric(horses["positionL"], errors="coerce")

In [34]:
horses["dist"].describe()

count    149513.000000
mean         13.423875
std          16.098191
min           0.250000
25%           5.750000
50%           8.750000
75%          13.750000
max         241.250000
Name: dist, dtype: float64

In [35]:
horses["weightSt"].describe()

count    149513.000000
mean          9.105569
std           1.048855
min           7.000000
25%           8.000000
50%           9.000000
75%          10.000000
max          16.000000
Name: weightSt, dtype: float64

In [36]:
horses["runners"].describe()

count    149513.000000
mean         11.265663
std           3.399171
min           2.000000
25%           9.000000
50%          11.000000
75%          14.000000
max          34.000000
Name: runners, dtype: float64

In [37]:
# races dataset

In [38]:
races.isnull().mean()*100

rid             0.000000
course          0.000000
time            0.000000
date            0.000000
title           0.000000
ages            0.000000
distance        0.000000
condition       0.000000
prizes          0.000000
winningTime     0.000000
prize           0.000000
metric          0.000000
countryCode     0.000000
ncond           0.000000
class           0.000000
currency       37.265107
dtype: float64

In [39]:
races["currency"].value_counts()

currency
GBP    7460
EUR    1821
Name: count, dtype: int64

In [40]:
races.dropna(axis=1,inplace=True)

In [41]:
races.isnull().mean()*100

rid            0.0
course         0.0
time           0.0
date           0.0
title          0.0
ages           0.0
distance       0.0
condition      0.0
prizes         0.0
winningTime    0.0
prize          0.0
metric         0.0
countryCode    0.0
ncond          0.0
class          0.0
dtype: float64

In [42]:
# changing time dtype into time
races["time"] = pd.to_datetime(races["time"],format="%H:%M").dt.time

In [43]:
# changing date dtype into date
races["date"] = pd.to_datetime(races["date"], format="%d/%m/%y", dayfirst=True, errors="coerce").dt.date

In [44]:
races["ages"].value_counts()

ages
3yo+     5050
4yo+     4302
3yo      1977
2yo      1672
5yo+      891
4yo       333
4-6yo     194
4-7yo      88
2yo+       77
3-5yo      44
4-5yo      34
5-7yo      30
5yo        27
3-4yo      26
10yo+      19
6yo+       16
5-6yo       4
3-6yo       3
2-3yo       3
8yo+        1
9yo+        1
5-8yo       1
4-8yo       1
Name: count, dtype: int64

In [45]:
races["ages"].min()

'10yo+'

In [46]:
races["ages"].max()

'9yo+'

In [47]:
# defining function to extract minimum age

def min_age(age):
    if "+" in str(age):
        return int(age.split("yo")[0])
    elif "-" in str(age):
        return int(age.split("-")[0].replace("yo",""))
    else:
        return int(age.split("yo")[0])

#using apply function to exact minimum age
races["age"]=races["ages"].apply(min_age)

In [48]:
races["age"].value_counts()

age
3     7100
4     4952
2     1752
5      953
10      19
6       16
8        1
9        1
Name: count, dtype: int64

In [49]:
races["distance"].value_counts()

distance
1m       2129
6f       1950
7f       1646
5f        970
1m2f      885
2m        881
1m4f      647
2m4f      414
1m½f      394
2m½f      359
1m1f      323
3m        260
2m1f      259
5½f       257
2m3½f     238
1m1½f     231
6½f       209
2m2f      181
2m4½f     180
1m6f      180
2m5f      172
7½f       161
2m3f      156
1m2½f     148
1m3f      136
2m1½f     126
1m7½f     126
2m5½f     119
1m4½f     110
2m7½f     106
2m6f       91
3m1f       77
3m½f       76
2m6½f      69
1m3½f      64
2m7f       64
2m2½f      62
3m2f       56
1m7f       49
1m5f       44
3m1½f      41
1m5½f      37
3m2½f      31
1m6½f      17
4½f        15
4f         11
3m4½f       8
3m5f        8
3m3f        6
3m6f        5
3m3½f       3
3m6½f       2
3m5½f       1
4m2f        1
4m1f        1
3m4f        1
4m          1
Name: count, dtype: int64

In [50]:
# coverting distance into furlong

def furlong(dist):
    dist= str(dist).replace("½", ".5").replace("1/2", ".5")                        
    if "m" in dist and "f" in dist:                                           
        miles,furlong=dist.split("m")
        return int(miles)* 8 + float(furlong.replace("f",""))       # 1 mile = 8 furlongs
    elif "m" in dist:                                                # 1 furlong = 201.168 meters
        return int(dist.replace("m",""))* 8                          # 5 furlongs = 1 kilometer(approx)
    elif "f" in dist:
        return float(dist.replace("f", ""))
    else:
        return None
        
races["dist_furlong"] = races["distance"].apply(furlong)

In [109]:
races["winningTime"].value_counts()

winningTime
0.00      12
69.47      9
72.13      9
254.70     9
69.73      9
          ..
74.41      1
74.97      1
98.11      1
140.17     1
95.59      1
Name: count, Length: 8992, dtype: int64

In [119]:
# coverting invalid time into realistic time
races["winningTime"] = races["winningTime"].replace(0.00,np.nan)
races["winningTime"].fillna(races["winningTime"].median(),inplace=True)

In [135]:
races["metric"].value_counts()

metric
1609.0    2129
1206.0    1950
1407.0    1646
1005.0     970
2011.0     885
3218.0     881
2413.0     647
4022.0     414
1709.5     394
3318.5     359
1810.0     323
4827.0     260
3419.0     259
1105.5     257
3921.5     238
1910.5     231
1306.5     209
3620.0     181
4122.5     180
2815.0     180
4223.0     172
1507.5     161
3821.0     156
2111.5     148
2212.0     136
3519.5     126
3116.5     126
4323.5     119
2513.5     110
4725.5     106
4424.0      91
5028.0      77
4927.5      76
4524.5      69
2312.5      64
4625.0      64
3720.5      62
5229.0      56
3016.0      49
2614.0      44
5128.5      41
2714.5      37
5329.5      31
2915.5      17
904.5       15
804.0       11
5731.5       8
5832.0       8
5430.0       6
6033.0       5
5530.5       3
6133.5       2
5932.5       1
6838.0       1
6637.0       1
5631.0       1
6436.0       1
Name: count, dtype: int64

In [137]:
# coverting race distance into group

def race_dist(dist):
    if dist <=1400:
        return "short"
    elif dist<=2400:
        return "medium"
    else:
        return "long"

races["meters"] =races["metric"].apply(race_dist)